# ไฟล์ config ส่วนตัว
.env
.env.*

# Python compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
# Google credentials
*.json
!package.json
!requirements.json

# VS Code config (ถ้ามี)
.vscode/